---
http_interactions:
- request:
    method: post
    uri: https://cp.pushwoosh.com/json/1.3/createMessage
    body:
      encoding: UTF-8
      string: '{"request":{"application":"1839E-B6B3E","auth":"53cPdOY1gKxBpxBUEj12erycG4U5S5IF9wRhaluliCt5OaOSSLEMc6z6q5aYq6prfrFkUz4bMnjUZhkdywaC","notifications":[{"send_date":"now","ios_badges":"+1","content":"Testing"}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Pw-Cluster-Node:
      - api-11
      X-Pw-Front-Node:
      - front-01
    body:
      encoding: UTF-8
      string: '{"status_code":200,"status_message":"OK","response":{"Messages":["F8A4-6DEFEE3E-E5787004"]}}'
  recorded_at: Wed, 02 Aug 2017 13:13:13 GMT
recorded_with: VCR 3.0.3
